@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>


<address>
    2615 Aspen Rd<br />
    Ames, IA 50010<br />
    <abbr title="Phone">P:</abbr>
    508-677-7784
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sewinguiuc@gmail.com">sewinguiuc@gmail.com</a><br />
   
</address>