

@keyframes myAni {
    from {
        background-color: white;
        left:0px;
        top:0px;
    }

    to {
        background-color: white;
        left:500px;
        top:500px;
    }
}

#myDiv {
    position:fixed;
    width:150px;
    height:150px;
    background-color:white;
    left:0px;
    top:0px;
    animation-name:myAni;
    animation-duration:3s;
    animation-iteration-count:infinite
}